// base
.none{
    display: none;
}
.fl{
    float: left;
}
a{
    text-decoration: none;
    color: #b1cbff;
}
.ico1, .ico2, .ico3, .ico4, .ico5, .nav-ul-tit {
    display: inline-block;
}

//  
.topnav{
    width: 100%;
    min-width: 1240px;
}
.nav-ul{
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    li{
        background: #232d77;
        width: 25%;
        height: 75px;
        text-align: center;
        color: #fff;
        position: relative;
        overflow: hidden;
    }
    i{
        position: absolute;
        right: 0;
        top: 0;
        width: 125px;
        height: 100px;
        font-style: normal;
        display: none;
    }

    .nav-bgc {
        background: #1a246a;
    }
}


.nav-btn1,
.nav-btn2,
.nav-btn3,
.nav-btn4,
.nav-btn5,
.nav-btn1:hover,
.nav-btn2:hover,
.nav-btn3:hover,
.nav-btn4:hover,
.nav-btn5:hover {
    display: block;
    text-indent: -999em;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.ico1, .ico2, .ico3, .ico4, .ico5, .nav-ul li:hover .ico1, .nav-ul li:hover .ico2, .nav-ul li:hover .ico3, .nav-ul li:hover .ico4, .nav-ul li:hover .ico5 {
    background: url(../img/topnav-sprite.png) no-repeat;
    width: 22px;
    height: 22px;
}
.nav-ul .ans2_btn1, .nav-ul .ans2_btn2, .nav-ul .ans2_btn3, .nav-ul .ans2_btn4, .nav-ul .ans2_btn5, .nav-ul .ans2_btn6, .nav-ul .ans2_btn7, .nav-ul .ans2_btn8, .nav-ul .ans2_btn9, .nav-ul .ans2_btn10, .nav-ul .ans2_btn11, .nav-ul .ans2_btn12, .nav-ul .ans2_btn13, .nav-ul .ans2_btn14, .nav-ul .ans2_btn15, .nav-ul .ans2_btn16, .nav-ul .ans2_btn17, .nav-ul .ans2_btn18, .nav-ul .ans2_btn19, .nav-ul .ans2_btn20, .nav-ul .ans2_btn21, .nav-ul .ans2_btn22, .nav-ul .ans2_btn23, .nav-ul .ans2_btn24, .nav-ul .ans2_btn25 {
    background: url(../img/btn2_sprite.png) no-repeat;
}

.nav-ul .ans2_btn1{ background-position:-225px -15px;}
.nav-ul .ans2_btn2{ background-position:-575px -15px;}
.nav-ul .ans2_btn3{ background-position:-925px -15px;}
.nav-ul .ans2_btn4{ background-position:-225px -115px;}
.nav-ul .ans2_btn5{ background-position:-575px -115px;;}
.nav-ul .ans2_btn6{ background-position:-925px -115px;}
.nav-ul .ans2_btn7{ background-position:-225px -215px;}
.nav-ul .ans2_btn8{ background-position:-575px -215px;}
.nav-ul .ans2_btn9{ background-position:-925px -215px;}
.nav-ul .ans2_btn10{ background-position:-225px -315px;}
.nav-ul .ans2_btn11{ background-position:-575px -315px;}
.nav-ul .ans2_btn12{ background-position:-925px -315px;}
.nav-ul .ans2_btn13{ background-position:-225px -415px;}
.nav-ul .ans2_btn14{ background-position:-575px -415px;}
.nav-ul .ans2_btn15{ background-position:-925px -415px;}
.nav-ul .ans2_btn16{ background-position:-225px -515px;}
.nav-ul .ans2_btn17{ background-position:-575px -515px;}
.nav-ul .ans2_btn18{ background-position:-925px -515px;}
.nav-ul .ans2_btn19{ background-position:-225px -615px;}
.nav-ul .ans2_btn20{ background-position:-575px -615px;}
.nav-ul .ans2_btn21{ background-position:-925px -615px;}
.nav-ul .ans2_btn22{ background-position:-225px -715px;}
.nav-ul .ans2_btn23{ background-position:-575px -715px;}
.nav-ul .ans2_btn24{ background-position:-925px -715px;}
.nav-ul .ans2_btn25{ background-position:-225px -815px;}

.nav-ul li:hover .ico1{background-position:-27px 0;}
.nav-ul li:hover .ico2{background-position:-25px -30px;}
.nav-ul li:hover .ico3{background-position:-25px -61px;}
.nav-ul li:hover .ico4{background-position:-25px -90px;}
.nav-ul li:hover .ico5{background-position:-25px -121px;}
.ico1{background-position:0 0;}
.ico2{background-position:0 -30px;}
.ico3{background-position:0 -61px;}
.ico4{background-position:0 -90px;}
.ico5{background-position:0 -121px;}


.navinfo{
    text-align: center;
    position: relative;
    z-index: 20;
    .p1{
        padding-top: 8px;
        font-size: 14px;
        color: #d1dbff;
        margin: 0;
        .icon1{
            background-position: 0 0;
        }
        .nav-ul-tit{
            font-size: 22px;
            margin-left: 8px;
        }
    }
    .p2{
        padding-top: 0;
        font-size: 14px;
        color: #d1dbff;
    }

}